/********General Style*******/


body, html {
    font-size: 100%;
    margin: 0;
}

/********Title Section*******/

.title-section {
    width: 100%;
    height: 900px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-image: url('https://images.unsplash.com/photo-1443527216320-7e744084f5a7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a2e78235a91d11aca971a3d1cc3c179b');
    background-size: cover;
    background-color: #3BE5D9;
    background-blend-mode: overlay;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.title-div {
    margin: 170px 0 0 60px;
/*    text-align: center;*/
}

.title {
    margin: 0;
    font-size: 10rem;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.jacobs {
    font-weight: 600;
}

.subtitle {
    font-size: 1rem;
}
svg {
    opacity: 1;
}
svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
    opacity: 1;
	fill: #2b313d;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

/*******Work Section*******/

.work-section {
    margin: -100px 0 0 0;
    height: 900px;
    background-color: transparent;
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.work-container {
    background-color: #2b313d;
}

.work-header {
    margin: -10px auto 0 auto;
    font-family: Montserrat;
    font-size: 3rem;
    color: #ffffff;
}

.container {
    margin: 40px auto 0 auto;
    width: 90%;
    text-align: center;
}

.row {
    
}

.thumbnail {
    margin: 10px;
}

/*******About*******/

.about-section {
    margin: 0;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.about-header {
    margin: 60px auto 0 auto;
    font-family: Montserrat;
    font-size: 3rem;
    color: #2b313d;
}

.skills-list {
    font-family: "Open Sans";
    list-style: none;
}

.skills-list li {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 1.75rem;
}

/*******Contact*******/

.contact-section {
    margin: 0;
    height: 100px;
    background-color: #6f778a;
    text-align: center;
    overflow: hidden;
}

.social-media {
    display: inline-block;
    margin: 10px auto;
    padding-right: 50px;
}

.social-media li {
    display: inline-block;
    list-style: none;
}

/*path: M0 100 L0 0 L50 100 L100 0 L100 100 Z*/