/********General Style*******/


body, html {
    font-size: 100%;
    margin: 0;
}

h2 {
    font-family: 'Open Sans';
    font-size: 4rem;
    font-weight: 300;
}
/********Title Section*******/

.title-section {
    width: 100%;
    height: 900px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-image: url('https://images.unsplash.com/photo-1418224829731-3ed692c2caff?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3a95cae549469f3035b3fc558017a3cc');
/*    background-image: url('https://images.unsplash.com/photo-1443527216320-7e744084f5a7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a2e78235a91d11aca971a3d1cc3c179b');*/
    background-position: center;
    background-size: cover;
    background-color: #3BE5D9;
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.title-div {
    margin: 150px 0 0 500px;
/*    text-align: center;*/
}

.title {
    margin: 0;
    font-size: 10rem;
    font-weight: 300;
    color: #02CCB5;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.jacobs {
    font-weight: 300;
    color: white;
}

.subtitle {
    margin: 10px 0 0 475px;
    font-size: 1.8rem;
    font-weight: 300;
}

/*******Work Section*******/

.work-section {
    margin: -100px 0 0 0;
    height: 1400px;
    background-color: transparent;
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

svg.bigTriangleColor {
	pointer-events: none;
}

.separator-work path {
	fill: #2b313d;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

.work-container {
    margin: -6px 0 0 0;
    height: 1340px;
    background-color: #2b313d;
    overflow: hidden;
}

.work-header {
    margin: 120px auto 0 auto;
    color: #fff;
}

.container {
    margin: 35px auto 0 auto;
    width: 90%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    box-sizing:         border-box;
}

.pic-div {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 400px;
    height: 225px;
    isolation: isolate;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition:    all 1s ease;
    -o-transition:      all 1s ease;
    -ms-transition:     all 1s ease;
    transition:         all 1s ease;
}

.pic {
    width: 400px;
    height: 225px;
    -webkit-filter: grayscale(1) brightness(85%);
    filter:         grayscale(1) brightness(85%);
    -webkit-box-shadow: 5px 5px 9px -3px rgba(0,0,0,0.75);
    -moz-box-shadow:    5px 5px 9px -3px rgba(0,0,0,0.75);
    box-shadow:         5px 5px 9px -3px rgba(0,0,0,0.75);
    mix-blend-mode: overlay;
    -webkit-transition: all 0.8s ease;
    -moz-transition:    all 0.8s ease;
    -o-transition:      all 0.8s ease;
    -ms-transition:     all 0.8s ease;
    transition:         all 0.8s ease;
}

.pic-link {
    width: 400px;
    height: 225px;
}

.pic-div:hover {
    background-color: #10D5C8;
}

.pic:hover {
    transform: scale(1.25, 1.25) translate(0px, -10px);
}

.caption {
    position: relative;
/*    display: none;*/
    margin-top: 5px;
    width: 400px;
    height: 125px;
    color: #ffffff;
    font-family: 'Open Sans';
    background-color: transparent;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
}

.caption-triangle {
    margin-top: -50px;
    fill: black;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

.caption-container {
    height: 150px;
    margin-top: -10px;
    background-color: #000000;
    float: left;
}

.caption-title {
    position: absolute;
    top: -30px;
    left: 175px;
    font-size: 1.5em;
}

.caption-body {
    margin: 5px 0 0 0;
    font-size: 1em;
}

.recommend-body {
    margin: 100px auto 0 auto;
    width: 75%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    color: #a1a1a1;
}

.recommend-name {
    margin: 20px auto;
    width: 75%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    color: #a1a1a1;
}

/*******Skills Section*******/

.skills-section {
    margin: 0;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.separator-skills path {
	fill: #2b313d;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

.skills-header {
    margin: 10px auto 0 auto;
    color: #2b313d;
}

.skills-list {
    font-family: "Open Sans";
    list-style: none;
}

.skills-list li {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 1.5rem;
    color: #a1a1a1;
}

/*******About*******/

.about-section {
    margin: 0;
    height: 1097px;
    background-color: transparent;
    text-align: center;
    overflow: hidden;
}

.separator-about path {
	fill: #f7f7f7;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

.about-container {
    margin: -6px 0 0 0;
    background-color: #f7f7f7;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}
.about-header {
    margin: 60px auto 0 auto;
    color: #2b313d;
}

.about-mugshot-div {
    display: inline-block;
    margin: 130px 0 20px 0;
    width: 50%;
    float: left;
}

.about-mugshot {
    width: 100%;
    -webkit-clip-path: polygon(65% 1%, 100% 33%, 75% 100%, 0 100%, 0 0);
    clip-path: polygon(65% 1%, 100% 33%, 75% 100%, 0 100%, 0 0);
}

.about-text-div {
    display: inline-block;
    margin: 130px 0 20px 0;
    width: 50%;
    float: right;
}

.about-subheader {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.about-body {
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 0 50px 0 50px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #a1a1a1;
    line-height: 2.5rem;
}


/*******Contact Section*******/

.contact-section {
    margin: 0;
    height: 600px;
    background-image: url('/images/bikewall_background2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
}

.separator-contact {
    fill: #f7f7f7;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

.contact-header {
    margin: 20px auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

.contact-text {
    margin: 40px auto;
    width: 650px;
    font-size: 1.25rem;
    color: #a1a1a1;
    line-height: 2rem;
}

.social-media {
    margin: 40px auto 20px auto;
}

.social-item {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

.social-item:link, .social-item:visited, .social-item:active {
    color: #a1a1a1;
    text-decoration: none;
}

.social-item i {
    display: inline-block;
    margin: 0 30px 0 30px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.75rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100px;
    transition: all 0.25s ease-in-out;
}

.social-item i:hover {
    background-color: #3BE5D9;
    border: 2px solid #3BE5D9;
    color: #424856;
}

/*******Contact Me Button*******/

.button {
	display: block;
	margin: 40px auto;
	padding: 1em 2em;
    min-width: 150px;
	max-width: 250px;
	border: none;
	background: none;
	color: #fff;
	vertical-align: middle;
	position: relative;
    border: 2px solid;
    letter-spacing: 2px;
	text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.button--wayra {
	overflow: hidden;
	width: 245px;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
	color: #fff;
	border-color: #2FE9EB;
}
.button--wayra.button--inverted:hover {
	color: #424856;
	border-color: #2FE9EB;
}
.button--wayra:hover::before {
	opacity: 1;
	background-color: #2FE9EB;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
	background-color: #2FE9EB;
}

