/********General Style*******/


body, html {
    font-size: 100%;
    margin: 0;
}

/********Title Section*******/

.title-section {
    width: 100%;
    height: 600px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #3BE5D9;
    overflow: hidden;
}

.title-div {
    margin: 170px auto;
    text-align: center;
}

.title {
    margin: 0 auto;
    font-size: 10rem;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.jacobs {
    font-weight: 600;
}

.subtitle {
    font-size: 1rem;
}

svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: #3BE5D9;
	stroke: darken(#3BE5D9, 7%);
	stroke-width: 2;
}

/*******Work Section*******/

.work-section {
    margin: 0;
    height: 800px;
    background-color: #2b313d;
    text-align: center;
    overflow: hidden;
}

.work-header {
    margin: 60px auto 0 auto;
    font-family: Montserrat;
    font-size: 3rem;
    color: #ffffff;
}

.container {
    margin: 40px auto 0 auto;
    width: 90%;
    text-align: center;
}

.row {
    
}

.thumbnail {
    margin: 10px;
}

/*******About*******/

.about-section {
    margin: 0;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.about-header {
    margin: 60px auto 0 auto;
    font-family: Montserrat;
    font-size: 3rem;
    color: #2b313d;
}

.skills-list {
    font-family: "Open Sans";
    list-style: none;
}

.skills-list li {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 1.75rem;
}

/*******Contact*******/

.contact-section {
    margin: 0;
    height: 100px;
    background-color: #6f778a;
    text-align: center;
    overflow: hidden;
}

.social-media {
    display: inline-block;
    margin: 10px auto;
    padding-right: 50px;
}

.social-media li {
    display: inline-block;
    list-style: none;
}