/*******Imports*******/

@import '_variables.scss';
@import '_placeholders.scss';
@import '_mixins.scss';
@import '_modernizr.scss';
@import '_scroll-arrow.scss';

/********General Style*******/

body, html {
    font-size: 100%;
    margin: 0;
}

a:link {
    text-decoration: none;
}

/********Title Section*******/

.title-section {
    @extend %section;
    height: 900px;
    font-family: $primaryFont;
    color: $colorWhite;
    background-color: $colorAqua;
    background-attachment: fixed;
    /* see _modernizr.scss for background-image info */
}

.title-div {
    position: relative;
    top: 100px;
    left: 30%;
    margin: 0 15px 0 0;
    width: 850px;
}

.title {
    margin: 0;
    float: right;
    font-size: $fontTitle;
    font-weight: $fontThin;
    color: $colorAqua2;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.jacobs {
    font-weight: $fontThin;
    color: white;
}

.subtitle {
    margin: 10px 15px 0 0;
    float: right;
    font-size: 1.8rem;
    font-weight: $fontThin;
}

/*******Work Section*******/

.work-section {
    @extend %section;
    margin: -100px 0 0 0;
    height: 1400px;
    background-color: transparent;
    z-index: 2;
}

svg.bigTriangleColor {
	pointer-events: none;
}

.separator-work path {
	fill: $colorBlack;
	stroke-width: 2;
}

.work-container {
    margin: -6.1px 0 0 0;
    height: 1340px;
    background-color: $colorBlack;
    overflow: hidden;
}

.work-header {
    @extend %header-font;
    margin: 60px auto 0 auto;
    color: $colorWhite;
}

.container {
    @extend %border-box;
    margin: 35px auto 0 auto;
    width: 90%;
    text-align: center;
}

.pic-div {
    @extend %transition;
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 400px;
    height: 225px;
    isolation: isolate;
    overflow: hidden;
    &:hover {
        background-color: $colorAqua;
    } 
    .pic-div-clicked {
        background-color: transparent;
    }
}

.pic {
    @extend %transition;
    @extend %box-shadow;
    @extend %filter;
    width: 400px;
    height: 225px;
    mix-blend-mode: overlay;
    -webkit-backface-visibility: hidden;
    backface-visibility:         hidden;
    &:hover {
        transform: scale(1.25, 1.25) translate(0px, -10px);
    }
    .pic-clicked {
        transform: scale(1, 1) translate(0px, 0px);
    }
}

.pic-link {
    width: 400px;
    height: 225px;
    overflow: hidden;
}

.caption {
    position: relative;
    margin-top: 5px;
    width: 400px;
    height: 125px;
    color: $colorWhite;
    font-family: $primaryFont;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.caption-triangle {
    margin: -50px 0 0 0;
    fill: $colorBlack;
	stroke-width: 2;
}

.caption-container {
    width: auto;
    height: 150px;
    margin-top: -7px;
    background-color: $colorBlack;
    float: left;
}

.caption-title {
    position: absolute;
    top: -30px;
    left: 175px;
    font-size: 1.5rem;
}

.caption-body {
    margin: 5px 0 0 0;
    font-size: 1rem;
}

.recommend-body {
    margin: 100px auto 0 auto;
    width: 75%;
    font-family: $primaryFont;
    font-size: 1.25rem;
    font-weight: $fontThin;
    font-style: italic;
    color: $colorGrey;
}

.recommend-name {
    margin: 20px auto;
    width: 75%;
    font-family: $primaryFont;
    font-size: 1.25rem;
    color: $colorGrey;
}

/*******Skills Section*******/

.skills-section {
    @extend %section;
    margin: 0;
    height: 300px;
    background-color: $colorWhite;
}

.separator-skills path {
	fill: $colorBlack;
	stroke-width: 2;
}

.skills-header {
    @extend %header-font;
    margin: 10px auto 0 auto;
    color: $colorBlack;
}

.skills-list {
    margin: 30px auto 0 auto;
    padding: 0;
    width: 100%;
    font-family: $primaryFont;
    list-style: none;
    li {
        display: inline-block;
        margin: 0 10px 0 10px;
        font-size: 1.5rem;
        color: $colorGrey;
    }
}

/*******About*******/

.about-section {
    @extend %section;
    margin: 0;
    height: 800px;
    background-color: transparent;
}

.separator-about {
    path {
	    fill: $colorLightGrey;
	    stroke-width: 2;
    }
}

.about-container {
    margin: -6px 0 0 0;
    background-color: $colorLightGrey;
    width: 100%;
    height: calc(800px - 97px);
    overflow: hidden;
}
.about-header {
    @extend %header-font;
    margin: 60px auto 0 auto;
    color: $colorBlack;
}

.about-mugshot-div {
    display: inline-block;
    margin: 30px 0 20px 0;
    width: 50%;
    float: left;
}

.about-mugshot {
    width: 100%;
    -webkit-clip-path: polygon(65% 1%, 100% 33%, 75% 100%, 0 100%, 0 0);
    clip-path:         polygon(65% 1%, 100% 33%, 75% 100%, 0 100%, 0 0);
}

.about-text-div {
    display: inline-block;
    margin: 20px 0 20px 0;
    width: 50%;
    float: right;
}

.about-subheader {
    margin: 0;
    font-size: 2.5rem;
    font-family: $primaryFont;
    font-weight: 600;
}

.about-body {
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 0 50px 0 50px;
    font-size: 1.5rem;
    font-weight: 300;
    color: $colorGrey;
    line-height: 2.5rem;
}

/*******Contact Section*******/

.contact-section {
    @extend %section;
    margin: 0;
    height: 600px;
    background-image: url('/images/bikewall_background2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.separator-contact {
    fill: $colorLightGrey;
	stroke-width: 2;
}

.contact-header {
    @extend %header-font;
    margin: 10px auto 0 auto;
    color: $colorWhite;
}

.contact-text {
    margin: 40px auto;
    width: 50%;
    font-size: 1.25rem;
    color: $colorGrey;
    line-height: 2rem;
}

.social-media {
    margin: 40px auto 20px auto;
    width: 100%;
}

.social-item {
    background-color: transparent;
    text-decoration: none;
    color: $colorWhite;
    &:link, 
    &:visited,
    &:active {
        color: $colorGrey;
        text-decoration: none;
    }
    i {
        display: inline-block;
        margin: 15px 30px 15px 30px;
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 1.75rem;
        color: $colorWhite;
        border: 2px solid $colorWhite;
        border-radius: 100px;
        transition: all 0.25s ease-in-out;
        &:hover {
            background-color: $colorAqua;
            border: 2px solid $colorAqua;
            color: $colorBlack;
        }
    }
}

/*******Contact Button*******/

@import '_contact-btn.scss';

/*******Media Queries*******/

@import '_media-queries.scss';
