.backgroundblendmode {
    .title-section {
        background-image: url('images/header-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $colorAqua;
        background-blend-mode: overlay;
    }
}
