@import '../../style/helpers/_variables';
@import '../../style/helpers/_mixins';
@import '../../style/helpers/_placeholders';

.tech-list-wrapper {
  margin: 5em auto;
  > ul.tech-list {
    list-style: none;
    font-family: $primaryFont;
    color: $white;
    > li {
      display: inline-block;
      padding: 0 1em;
    }
  }
}
