/******* Breakpoints *******/

$largest-site-width:    1920px;
$extra-large-width:     1600px;
$site-max-width:        1320px;
$desktop-odd-width:     1280px;
$small-desktop-width:   1024px;
$tablet-width:          768px;
$mobile-width:          480px;
$small-mobile-width:    414px;
$tablet-only:           "(min-width: #{$mobile-width}) and (max-width: #{$tablet-width})";

/*******Font*******/

$primaryFont: 'Open Sans', sans-serif;
$fontTitle: 10rem;
$fontThin: 300;

/*******Colors*******/

$aqua: #3BE5D9;
$aqua2: #02CCB5;
$white: #fff;
$offWhite: rgb(245,245,245);
$grey: rgb(155,155,155);
$lightGrey: rgb(225,225,225);
$black: rgb(50,50,50);
$matte-black: #000;

/*******Sizes*******/

$previewWidth:  640px;
$previewHeight: 360px;

/*******Other*******/

$transition: all 0.5s ease;
