@import '../../style/helpers/_variables';
@import '../../style/helpers/_mixins';
@import '../../style/helpers/_placeholders';

.title-section {
    @extend %section;
    height: 100vh;
    font-family: $primaryFont;
    color: $white;
    background-color: $aqua;
    overflow: hidden;
    z-index: 1;
}

.title-div {
    position: relative;
    top: 100px;
    left: 30%;
    margin: 0 15px 0 0;
    width: 850px;
}

.title {
    margin: 0;
    float: right;
    font-size: $fontTitle;
    font-weight: $fontThin;
    color: darken($aqua2, 5%);
    letter-spacing: 0px;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.jacobs {
    font-weight: $fontThin;
    color: white;
}

.subtitle {
    margin: 10px 15px 0 0;
    float: right;
    font-size: 1.8rem;
    font-weight: $fontThin;
}
