/*******Imports*******/
@import 'helpers/_variables.scss';
@import 'helpers/_placeholders.scss';
@import 'helpers/_mixins.scss';
@import 'components/_scroll-arrow.scss';

/********General Style*******/

body, html {
    font-size: 100%;
    margin: 0;
}

body {
    background-color: $black;
}

a:link {
    text-decoration: none;
}

.unselectable {
    @extend %unselectable;
}

/*******Contact Button*******/

@import 'components/_contact-btn.scss';


/*******Media Queries*******/

@import 'media/_media-queries.scss';
