/*******Imports*******/
@import 'helpers/_variables.scss';
@import 'helpers/_placeholders.scss';
@import 'helpers/_mixins.scss';
@import 'media/_modernizr.scss';
@import 'components/_scroll-arrow.scss';


/********General Style*******/

body, html {
    font-size: 100%;
    margin: 0;
}

body {
    background-color: $black;
}

a:link {
    text-decoration: none;
}

.unselectable {
    @extend %unselectable;
}


/********Title Section*******/

.title-section {
    @extend %section;
    height: 100vh;
    font-family: $primaryFont;
    color: $white;
    background-color: $aqua;
    overflow: hidden;
    z-index: 1;
    /* see _modernizr.scss for background-image info */
}

.title-div {
    position: relative;
    top: 100px;
    left: 30%;
    margin: 0 15px 0 0;
    width: 850px;
}

.title {
    margin: 0;
    float: right;
    font-size: $fontTitle;
    font-weight: $fontThin;
    color: darken($aqua2, 5%);
    letter-spacing: 0px;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.jacobs {
    font-weight: $fontThin;
    color: white;
}

.subtitle {
    margin: 10px 15px 0 0;
    float: right;
    font-size: 1.8rem;
    font-weight: $fontThin;
}


/*******Work Section*******/

.work-section {
    @include section();
    margin: -100px 0 0 0;
    height: auto;
    background-color: transparent;
    z-index: 2;
}

svg.bigTriangleColor {
    pointer-events: none;
}

.separator-work path {
    fill: $black;
    stroke-width: 2;
}

.bigTriangleColor.mobile {
  display: none;
}

.work-container {
    margin: -4.1px 0 0 0;
    height: auto;
    background-color: $black;
    overflow: hidden;
}

.work-header {
    @extend %header-font;
    margin: 60px auto 0 auto;
    color: $white;
}

.container {
    @extend %border-box;
    margin: 35px auto 0 auto;
    width: 90%;
    text-align: center;
}

/*demo thumbnails*/
@import 'components/_demo-thumbs.scss';

.recommend-body {
    margin: 100px auto 0 auto;
    width: 75%;
    font-family: $primaryFont;
    font-size: 1.25rem;
    font-weight: $fontThin;
    font-style: italic;
    text-align: center;
    color: $grey;
}

.recommend-name {
    margin: 20px auto 7em;
    width: 75%;
    font-family: $primaryFont;
    font-size: 1.25rem;
    text-align: center;
    color: $grey;
}


/*******Skills Section*******/

.skills-section {
    @extend %section;
    margin: 0;
    height: 30em;
    background-color: $white;
}

.separator-skills {
    margin-top: -0.5px;
}

.separator-skills path {
    fill: $black;
    stroke-width: 2;
}

.skills-header {
    @extend %header-font;
    margin: 10px auto 0 auto;
    color: $black;
}

.skills {
    margin: 30px auto 0 auto;
    padding: 0;
    width: 100%;
    font-family: $primaryFont;
    text-align: center;
    font-size: 1.5rem;
    color: $grey;
    word-spacing: 10px;
}

.skills::nth-child(even) {
    color: rgb(150,150,150);
    font-weight:800;
}

.hidden-skills {
    opacity: 0;
}

.visable-skills {
    opacity: 1;
}


/*******About*******/

.about-section {
    @extend %section;
    margin: 0;
    height: 830px;
    background-color: $white;
}

.separator-about {
    path {
        fill: $offWhite;
        stroke-width: 2;
    }
}

.about-container {
    margin: -6px 0 0 0;
    background-color: $offWhite;
    width: 100%;
    height: calc(830px - 97px);
    overflow: hidden;
}
.about-header {
    @extend %header-font;
    margin: 60px auto 0 auto;
    color: $black;
}

.about-mugshot-div {
    display: inline-block;
    margin: 30px 0 20px 0;
    width: 50%;
    float: left;
}

.about-mugshot {
    width: 100%;
    @extend %pic-clip;
}

.about-text-div {
    display: inline-block;
    margin: 20px 0 20px 0;
    width: 50%;
    float: right;
}

.about-subheader {
    margin: 0;
    font-size: 2.5rem;
    font-family: $primaryFont;
    font-weight: 600;
}

.about-body {
    box-sizing: border-box;
    margin: 20px 0 0 0;
    padding: 0 50px 0 50px;
    font-size: 1.5rem;
    font-weight: 300;
    color: $grey;
    font-family: $primaryFont;
    line-height: 2.5rem;
}


/*******Contact Section*******/

.contact-section {
    @extend %section;
    margin: 0;
    height: 700px;
    // background-image: url('images/pattern.svg');
    background-size: cover;
    background-position: center;
    background-color: rgba(50,50,50,0.92);
    background-blend-mode: overlay;
}

.separator-contact {
    fill: $offWhite;
    stroke-width: 2;
    margin-top: -0.5px;
}

.contact-header {
    @extend %header-font;
    margin: 10px auto 0 auto;
    color: $white;
}

.contact-text {
    margin: 40px auto;
    width: 50%;
    font-size: 1.25rem;
    text-align: center;
    color: $lightGrey;
    font-family: $primaryFont;
    line-height: 2rem;
}

.social-media {
    margin: 40px auto 20px auto;
    width: 100%;
    text-align: center;
}

.social-item {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: $white;
    &:link,
    &:visited,
    &:active {
        color: $grey;
        text-decoration: none;
    }
    i {
        display: inline-block;
        margin: 15px 30px 15px 30px;
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 1.75rem;
        color: $white;
        border: 2px solid $white;
        border-radius: 100px;
        transition: all 0.25s ease-in-out;
        &:hover {
            background-color: $aqua;
            border: 2px solid $aqua;
            color: $black;
        }
    }
}


/*******Contact Button*******/

@import 'components/_contact-btn.scss';


/*******Media Queries*******/

@import 'media/_media-queries.scss';
