%section {
    position: relative;
    text-align: center;
    overflow: hidden;
}

%header-font {
    font-family: $primaryFont;
    font-size: 3.85rem;
    font-weight: $fontThin;
    text-align: center;
}

%transition {
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}

%border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    box-sizing:         border-box;
}

%box-shadow {
    -webkit-box-shadow: 5px 5px 9px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    5px 5px 9px -3px rgba(0, 0, 0, 0.75);
    box-shadow:         5px 5px 9px -3px rgba(0, 0, 0, 0.75);
}

%filter {
    -webkit-filter: grayscale(1) brightness(85%);
    filter:         grayscale(1) brightness(85%);
}

%pic-clip {
    -webkit-clip-path: polygon(65% 1%, 100% 33%, 75% 100%, 0 100%, 0 0);
    clip-path:         polygon(65% 1%, 100% 33%, 75% 100%, 0 100%, 0 0);
}
