/*******Font*******/

$primaryFont: 'Open Sans', sans-serif;
$fontTitle: 10rem;
$fontThin: 300;

/*******Colors*******/

$colorAqua: #3BE5D9;
$colorAqua2: #02CCB5;
$colorWhite: #fff;
$colorGrey: #a1a1a1;
$colorLightGrey: #f7f7f7;
$colorBlack: #2b313d;

/*******Other*******/

$transition: all 0.5s ease;