/*******Font*******/
$primaryFont: 'Open Sans', sans-serif;
$fontTitle: 10rem;
$fontThin: 300;

/*******Colors*******/
$aqua: #3BE5D9;
$aqua2: #02CCB5;
$white: #fff;
$offWhite: rgb(245,245,245);
$grey: rgb(155,155,155);
$lightGrey: rgb(225,225,225);
$black: rgb(50,50,50);

/*******Other*******/
$transition: all 0.5s ease;
